main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    width: 80%;
    max-width: 41rem;
}

main > * {
    width: 94%;
}